<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<main class="recipe_main">
    <div class="recipe">
        {% if post.data['tags']|length != 0 %}
        <div class="tag-row">
        <div class="tag-container" id='tag-header'>
        Tags For: 
        </div>
        {% for tag in post.data['tags'] %}
        <div class="tag-container">{{tag}}</div>
        {% endfor %}
        </div>
        {% endif %}
        <h1 class="h1 mt-5 mb-0 fw-normal" id="recipe-title">{{post.name}}</h1>
        <h5 class="h5 mb-3" style="color: gray; font-size:16px; font-variant: small-caps;">Created: {{post.created}}</h5>
        <h5 class="h5 mb-3 fw-normal" id="recipe-desc">{{post.data['description']}}</h5>
        <div class="author-container">
            <h5 class="item">By: </h5> <h5 class="h5 fw-normal" id="author-name">{{author.uname}}</h5>
            <div class="break"></div>
            <h5 class="h5" id="author-stats">Posts: {{author.posts}} | Upvotes:
                <h4 class="h5" id="upvote-stat">{{author.upvotes}}</h4></h5>
        </div>
        <hr style="color: gray">
        <div class="recipe-information">
        <div class="vote-container">
            <span class="vote" id="upvote">
            <svg width="34" height="34">
                <path d="M 2 18h32L18 2L 18z" fill="currentColor"></path>
            </svg>
            </span>
            <div class="break"></div>
            <h5 class="post-upvote" id="post-upvote">{{post.upvotes}}</h5>
            <div class="break"></div>
            <span class="vote" id="downvote">
            <svg width="34" height="34">
                <path d="M2 10h32L18 26 2 10z" fill="currentColor"></path>
            </svg>
            </span>
        </div>
        <img class="recipe-img"
            src={{ filename }} width=50%>
        <div class="ingredient-container">
        <h3 style="font-variant: small-caps">Ingredients</h3>
        {% for step in post.data['ingredients'] %}
        <label class="ml-3">
            <input type="checkbox" name="check">
            {{step['quantity']}} {{step['name']}}
        </label>
        <div class="break"></div>
        {% endfor %}
        </div>
        {{post.data}}
        </div>
    </div>
</main>
<body onLoad="checkUpvote()"></body>
<script type="text/javascript">
var upvote = {{upvote}};

function checkUpvote() {
    if (upvote == null) {
        return
    }
    if (upvote == true){
        var vote = document.getElementById("upvote");
    } else {
        var vote = document.getElementById("downvote");
    }
    vote.classList.toggle('on')
};

for (const btn of document.querySelectorAll('.vote')) {
    btn.addEventListener('click', event => {
        var curr = event.currentTarget
        var inca = Number(document.getElementById("upvote-stat").innerHTML);
        var incp = Number(document.getElementById("post-upvote").innerHTML);
        var mult = 1;
        if (btn.getAttribute("id") == "upvote") {
            var other = document.getElementById("downvote");
        } else {
            var other = document.getElementById("upvote");
            mult = -1;
        }
        if (!curr.classList.contains("on") && other.classList.contains("on")) {
            other.classList.toggle('on');
            inca += mult;
            incp += mult;
        } else if (curr.classList.contains("on") && !other.classList.contains("on")) {
            inca -= 2*mult;
            incp -= 2*mult;
        }
        event.currentTarget.classList.toggle('on');
        inca += mult;
        incp += mult;
        document.getElementById("upvote-stat").innerHTML = inca;
        document.getElementById("post-upvote").innerHTML = incp;
    });
}
</script>
{% endblock %}
