<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<div id="app">
  <form method="POST" class="row g-3 form-create text-danger">
    <h2 class="text-center">Search for a Recipe</h2>
    <div class="col-12">
      {{ form.query() }}
        <div class="col-12 text-center">
        {{ form.submit(class_='btn btn-danger') }}
      </div>
      <div class="invalid-feedback">
        Search for a recipe
      </div>
    </div>
    <div class="col-12">
    <!-- get every recipe in postlst field -->
    <!--
    <div class="recipe-container">
        <img src=posti.filename>
    </div>
    -->
    <!---->
    </div>
  </form>
</div>
{% endblock %}
