<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="app">
  <form class="row g-3 form-create text-danger" @submit.prevent="submitQuery">
    <h2 class="text-center">Search for a Recipe</h2>
    <div v-if="error" class="alert alert-danger text-center" role="alert">
      ${error}
    </div>
    <div class="col-12">
      <input v-model="searchQuery" type="text"
       style="float: left; width: calc(100% - 100px);" 
       required 
       class="form-control":class="{ 'is-invalid': error && !searchQuery }">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-danger" @click="submitQuery">Search</button>
      </div>
      <div class="invalid-feedback">
        Search for a recipe
      </div>
    </div>
  </form>
</div>

<script>
  // const axios = require('axios');
  Vue.createApp({
    delimiters: ['${', '}'],
    data() {
      return {
        searchQuery: null,
        error: ''
      }
    },
    methods: {
      submitQuery() {
        this.error = ""
        let formData = new FormData();
        formData.append('searchQuery', JSON.stringify(this.searchQuery))
        let obj = this;
        axios.post('/search', formData, {
          headers: {
            'accept': 'application/json',
            'Content-Type': 'multipart/form-data'
          }
        })
          .then(response => {
            // handle success
            if (response.data.status == -1) {
              obj.error = response.data.message
              window.scrollTo(0,0)
            } else {
              console.log(response.data.message)
            }
          })
          .catch(error => {
            obj.error = error;
            window.scrollTo(0, 0)
          })

      }
    }
  }).mount('#app')
</script>
{% endblock %}
