autocomplete==0.0.104
boto3==1.21.37
botocore==1.24.45
bottle==0.12.19
click==8.0.4
fast-autocomplete==0.9.0
Flask==2.0.3
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
Flask-WTF==1.0.0
greenlet==1.1.2
gunicorn==19.0.0
itsdangerous==2.1.0
Jinja2==3.0.3
jmespath==1.0.0
MarkupSafe==2.1.0
psycopg2-binary==2.9.3
python-dateutil==2.8.2
python-Levenshtein-wheels==0.13.2
s3transfer==0.5.2
six==1.16.0
SQLAlchemy==1.4.31
urllib3==1.26.9
Werkzeug==2.0.0
WTForms==3.0.1
